.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 400;
    font-size: 15px;
}

.pagination-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 40px;
    width: 40px;
    text-decoration: none;
    transition: background-color .2s;
    border: 1px solid #ddd;
    cursor: pointer;
}

.pagination-container a.active {
    background-color: #88abde;
    color: #ffffff;
    border: 1px solid #88abde;
}

.pagination-container a.disabled {
    opacity: 0.6;
}

.pagination-container a:hover:not(.active) {
    background-color: #88abde;
    color: #ffffff;
}